# 🚨 Ignore environment variables (DO NOT COMMIT API KEYS)
.env
.env.local
.env.*.local

# 🚨 Ignore Firebase configuration files (DO NOT COMMIT)
yt-web-client/app/firebase/firebase.ts

# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
